@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.pokeLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 300px;
  padding-top: 60px;
}

body {
  background-image: url(../img/background.png);
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: auto;
}

.navbar input[type='checkbox'],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  top: 30px;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 20px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  margin-bottom: 0.8rem;
  width: 2%;
  margin-left: 8px;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type='checkbox'],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 8%;
  }

  .navbar-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .titleHome {
    padding-left: 15px;
  }

  #contentHome {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
  }

  .textHome {
    background-color: #fff;
    opacity: 0.85;
    border-radius: 10px;
  }

  .paragraphContent {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
  }

  .pokedexHome {
    position: absolute;
    width: 20em;
    bottom: -5.5em;
    left: 4em;
  }

  .footerBar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    bottom: 30px;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
  }

  .titleStarters {
    padding-left: 15px;
  }

  #contentStarters {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    top: 100px;
  }

  .textStarters {
    background-color: #fff;
    opacity: 0.85;
    border-radius: 10px;
  }

  .paragraphStarters {
    font-size: 1em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100vh;
  }

  .gamesKanto {
    position: absolute;
    top: 5em;
    left: 2em;
  }

  .pokeRed,
  .pokeBlue {
    display: inline-block;
    width: 44%;
    padding-left: 3%;
  }

  .startersKanto {
    position: absolute;
    top: 3em;
    left: 1em;
  }
  .bulbasaur001,
  .charmander004,
  .squirtle007 {
    display: inline-block;
    width: 8em;
    padding-right: 1em;
  }

  .bulbasaur001:hover {
    opacity: 0.7;
  }

  .charmander004:hover {
    opacity: 0.7;
  }

  .squirtle007:hover {
    opacity: 0.7;
  }

  .titleKanto {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .paragraphKanto {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11em;
    padding-bottom: 13em;
    text-align: justify;
    font-size: 0.85em;
  }

  .characterKanto {
    position: absolute;
    bottom: -4em;
    left: 2em;
  }
  .garryOak {
    display: inline-block;
    width: 6em;
    margin-left: -3em;
  }

  .redMasters {
    display: inline-block;
    width: 7em;
    margin-left: 14.6em;
    margin-right: -3em;
  }

  .titlePokedex {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    width: max-content;
    font-size: 1.5em;
  }

  /* ......../ Pokedex Entry  /.......... */

  .pdexBulbasaur001 {
    position: absolute;
    top: 3em;
    width: 15em;
    left: 5em;
  }

  .paragraphBulbasaur {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18em;
    padding-bottom: 20em;
    text-align: justify;
    font-size: 0.85em;
  }

  .pokemon-type li {
    width: 8em;
    border-radius: 1em;
    margin: 0.5em 0 0 0;
    text-align: center;
    padding: 0.3em 0;
    display: inline-block;
    font-size: 1em;
  }

  .pokemon-weakness li {
    width: 8em;
    border-radius: 1em;
    margin: 0.5em 0 0 0;
    text-align: center;
    padding: 0.3em 0;
    display: inline-block;
    font-size: 1em;
  }

  .pokemon-type {
    position: absolute;
    left: 5em;
    bottom: 12em;
  }

  .pokemon-weakness {
    position: absolute;
    left: 5em;
    bottom: 4em;
  }

  /* ......../ Types of Pokeballs  /.......... */

  .ball-gen1 {
    margin: auto;
    font-weight: bold;
    width: 100%;
    margin-top: 3.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
  }

  .pokeball-table-title {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
  }

  .ball-gen1 img {
    width: 4em;
    opacity: 1;
  }

  tr:nth-child(even) {
    background-color: #8ebddd;
    opacity: 0.85;
  }

  tr:nth-child(odd) {
    background-color: #567899;
    opacity: 0.85;
  }

  /* ......../ Types of Pokemon  /.......... */

  .background-color-grass {
    background-color: #9bcc50;
    color: #212121;
  }

  .background-color-poison {
    background-color: #b97fc9;
    color: #fff;
  }

  .background-color-fire {
    background-color: #fd7d24;
    color: #fff;
  }

  .background-color-psychic {
    background-color: #f366b9;
    color: #fff;
  }

  .background-color-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: #212121;
  }

  .background-color-ice {
    background-color: #51c4e7;
    color: #212121;
  }
}
